@model SporApp.Entity.User
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

}

<div class="container">
    <div class="row" style="padding-top: 200px">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <div class="login-form">
                @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                {
                   
                     
                <div class="jumbotron" >
                    <h2 class="text-center">SporApp'e Hoş Geldiniz</h2>

                    <div style="margin-top:20px; border:1px solid #495057; padding: 10px 10px 10px 10px">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Email, new { title = "Kullanıcı adınızı giriniz.", htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Password, new { title = "Kullanıcı şifrenizi giriniz.", htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Giris</button>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="col-md-3"></div>

    </div>
    </div>

